
<h1>Thank you for your interest in this property</h1>
<p>
  <h3>Your request will be sent to the owner for approval</h3>
</p>
<form method="post", action="/booking_request">
  Name: <input type='text', name='Name' /><br>
  Email: <input type='text', name='Email'/><br>
  Start Date: <input type='date', name='Date'/><br>
  End Date: <input type='date', name='Date'/><br><br>
  <input type="submit", value="Submit Request"/>
</form>