<h1> To list a space please enter the details below</h1>

<form method="post", action="/createaspace">
Name: <input type="text", value="Name"/><br>
Description: <br> <textarea rows="10" type="text", value="Description"></textarea><br>
Price per Night: <input type="text", value="Price per night"/><br>
<input type="submit", value="Submit"/>
</form>

