<h1 style="width:50%;margin-top:0;float:left;">Welcome to MakersBnB</h1>
<form action="/sign_in" method="get" style="margin:5;float:right;">
    <input type="submit" value="Sign In" />
</form>
<form action="/create_account" method="get" style="margin:5;float:right;">
    <input type="submit" value="Create Account" />
</form>
<form action="/view_spaces" method="get" style="width:100%;float:left;">
    <input type="submit" value="View Spaces" />
</form>
<form action="/createspace" method="get" style="width:100%;float:left;">
    <input type="submit" value="Create Spaces" />
</form>
