<h1>Welcome to MakersBnB</h1>
<form action="/view_spaces" method="get">
    <input type="submit" value="View Spaces" />
</form>
<form action="/create_spaces" method="get">
    <input type="submit" value="Create Spaces" />
</form>
<form action="/book_spaces" method="get">
    <input type="submit" value="Book Spaces" />
</form>