<h1> To list a space please enter the details below</h1>

<form method="post", action="/createaspace">
Name: <input type="text", name="name"/><br>
Description: <br> <textarea rows="10" type="text", name="description"></textarea><br>
Price per Night: <input type="text", name="price"/><br>
<input type="submit", value="Submit"/>

<input style='visibility: hidden;', type="text", name="user_id", value=<%=@username%>><br>

<input style='visibility: hidden;', type="text", name="user_id", value="<%=@username%>"><br>

</form>

