<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      * {
          box-sizing: border-box;
          font-family: Georgia;
          font-size: 1.1em;
      }

      body {
          margin: 0;
          font-family: Georgia;
      }

      /* Style the top navigation bar */
      .topnav {
          overflow: hidden;
          background-color: #ddd;
      }

      /* Style the topnav links */
      .topnav a:link, a:visited {
          float: right;
          display: block;
          background-color: #ddd;
          color: #663399;
          border: 2px solid navy;
          padding: 22px 20px;
          text-align: center;
          text-decoration: none;

      }

      /* Change color on hover */
      .topnav a:hover, a:active {
          background-color: azure;
          color: teal;
      }


      /* Style the content */
      .content {
          font-size: 1em;
          color: grey;
          background-color: azure;
          padding: 10px;
          min-height: 400px; /* Should be removed. Only for demonstration */
      }

      /* Style the footer */
      .footer {
          font-size: 0.9em;
          background-color: #778899;
          padding: 10px;
          color: #FFFFFF;
      }

      /* Create three equal columns that floats next to each other */
      .column {
          float: left;
          width: 50%;
          padding: 10px;
      }


      /* Clear floats after the columns */
      .row:after {
          content: "";
          display: table;
          clear: both;
      }

  </style>
</head>
<body>

<div class="topnav">
  <div class="row">
    <div class="column">
      <p style="color:#663399;">HT Maker's BnB</p>
    </div>
    <div class="column">
      <a href="default.asp" target="/sign_in">Sign In</a>
    </div>
  </div>

  <div class="content">
    <h2>CSS Template</h2>
    <p>A topnav, content and a footer.</p>
  </div>

  <div class="footer">
    Copyright 2021 Team Hunter Thunderous, Makers Academy. All Rights Reserved. No Software Developers were harmed in the making of this website.
  </div>

</body>
</html>

